name: lint
on: [pull_request]

permissions:
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  pull-requests: write

jobs:
  lint:
    if: github.event.pull_request.draft == false
    name: Run lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: golangci-lint
        uses: reviewdog/action-golangci-lint@dd3fda91790ca90e75049e5c767509dc0ec7d99b # v2.7.0
        with:
          github_token: ${{ github.token }}
          level: error
          fail_on_error: true
          reporter: github-pr-review
          tool_name: golangci-lint
          go_version_file: go.mod
